@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
*{
    margin: 0;
    padding: 0;
}
div.bannercont {
    width:468px;
    height: 120px;
    background-color: aqua;
    background: url("468_120_dia1_bg.png");
    background-size: cover;

}

a {
   text-decoration: none; 
}

div.lanyok{
    width:468px;
    height: 120px;
    background: url("468_120_dia1_lanyok.png");
    background-size: cover;
    position: absolute;
    top: 0px;
}


div.logo1{
    -webkit-transition: top 1s, left 1s;
    transition: top 1s, left 1s;
    height: 120px;
    width: 468x;
    background: url("468_120_dia1_ueg.png");
    position: relative;
    top:0px;
    left:0px;
}

div.logo2{
    -webkit-transition: top 1s, left 1s;
    transition: top 1s, left 1s;
    height: 120px;
    width: 468px;
    background: url("468_120_dia1_rg.png");
    position: absolute;
    top:0px;
    left:0px;
}

div.logoanimate1 {
  -webkit-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  height: 120px;
  width: 468px;
  background: url("468_120_dia1_ueg.png");
  position: relative;
  top:30px;
  left:40px;
}

div.logoanimate2 {
  -webkit-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  height: 120px;
  width: 468px;
  background: url("468_120_dia1_rg.png");
  position: absolute;
  top: 20px;
  left: -20px; 
}

div.szoveg{
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    color: #fff;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-transition-animation-duration: 1.5s;
    font-family: Helvetica;
    margin-top: 40px;
    margin-right: 170px;
}
h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -1px;
}
h4{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
}

div.szoveg span
{
    color: orange;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;

}

div.szurkolas{
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 2px 1px #000;
    visibility: hidden;
    font-family: Helvetica;
    margin-top: -100px;
}

div.idopont{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    visibility: hidden;
    font-family: Helvetica;
    margin-top: -90px;
    margin-left: 190px;

}

div.idopont span{
    color: orange;
    font-weight: bold;
    font-size: 14px;
    font-family: Helvetica;

}

button.gomb{
    color: #fff;
    background-color: #CD1655;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 3px;
    width: 200px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.33);
    font-family: Helvetica;
    margin-top: 3px;

}


div.sponsorheader{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    font-family: Helvetica;
    text-align: center;
    margin-top:-70px;
    letter-spacing: -2px;
    visibility: hidden;
}

div.sponsorheader span{
    z-index: 9999;
    display: inline-block;
    height: 5px;
    width: 5px;
    background: deeppink;
    padding: 2px;
    border-radius: 50%;
    margin: 0px -5px 0px -2px;

}

div.sponsorcontainer{
    visibility: hidden;

}

div.sponsors{
    position: absolute;
    top:0px;
    left:0px;

}
